<div class="landing-page">
    <nav class="navbar">
      <div class="header_bar">
        <ul class="navbar-list">
          <li class="navbar-item"><a href="#">Home</a></li>
          <li class="navbar-item"><a href="#">Sobre</a></li>
          <li class="navbar-item"><a href="#">Cadastro</a></li>
          <li class="navbar-item"><a href="#">Login</a></li>
        </ul>
      </div>
      <div class="content">
        <section class="content_left">
          <h1>CIÊNCIAS <br>HUMANAS</h1>
          <button class="cta-button">Começar</button>
        </section>
        <img src="hero-image.png" style="width: 20rem;" alt="Illustration of two people holding a globe" />
      </div>
    </nav>

  <div class="body_container">
    <section style="width: 645px;">
      <p>Prova com 10 questões gerais sobre a matéria de ciências humanas. <br><br>
        O que são Ciências Humanas?<br><br>
        A área das Ciências Humanas é o conjunto de ciências que
        tem como objeto de estudo o ser humano. Entre as ciências
        da área de humanas, estão a Filosofia, Sociologia ou
        Ciências Sociais, História, Geografia, Letras, Teologia,
        Antropologia, Comunicação Social, Psicologia, Linguística,
        Artes, entre outras.
      </p>
    </section>
  </div>

  <div class="form-section">
    <section>
      <h3>Cadastro</h3>
      <form>
        <input type="text" placeholder="nome 15" />
        <input type="email" placeholder="email" />
        <input type="password" placeholder="senha" />
        <div class="forgot_section">
          <a href="#">Já tem uma conta?</a>
          <button class="cta-button">Concluir</button>
        </div>
      </form>
    </section>
  </div>

  <div class="footer">
    <p>© Vinícius Neves Costa</p>
  </div>
</div>
